<template lang='pug'>
data-tables-server(:data='data' :total='total' @query-change='loadData' :current-page='currentPage' :page-size='pageSize' :pagination-props='paginate' :layout='layout')
  el-row(slot='tool')
    el-form(:inline='true')
      el-input.tool-search(clearable :placeholder='COMMON_SEARCH_PLACEHOLDER_TEXT' prefix-icon='el-icon-search' v-model='fullSearch' @change='loadData')
      el-button(type='text')
      el-button.right-button(type='text' icon='el-icon-plus')
        span(v-text='BUTTON_CREATE_NEW_TEXT' @click='handleCreateDialog = true')
  template(v-for='title in titles')
    template(v-if='title.prop.slice(-3) === "_id"')
      el-table-column(:prop='title.prop' :label='title.label' :key='title.label' sortable='custom' width="180")
          template(slot-scope='scope')
            div(v-if='scope.row[title.prop] === null' v-text='scope.row[title.prop]')
            div(v-else v-text='handleValueName(scope.row[title.prop.split("_id")[0]])')
    template(v-else)
      el-table-column(:prop='title.prop' :label='title.label' :key='title.label' sortable='custom')
  el-table-column(type='expand')
    template(slot-scope='scope')
      el-card.info-card(class='box-card')
        ResourceForm(:entity='entity' :type='"update"' :titles='updateTitles' :records='scope')
  el-table-column(width="30")
    template(slot-scope='scope')
      DeleteButton(:entity='entity' :id='scope.row.id')
  el-dialog(:title='DIALOG_TITLES_CREATE_ACCOUNT_TEXT' :visible.sync='handleCreateDialog' :append-to-body='true')
    ResourceForm(:entity='entity' :type='"create"' :titles='createTitles')
</template>

<script>
import _ from 'lodash'
import { showAccount } from '@/resources/account'
import { loading } from '@/services/loading'
import { notifyError } from '@/services/notify'
import { paramsTable, renderTable } from '@/services/datatable'
import {
  DEFAULT_DATA, DEFAULT_PAGINATE, DEFAULT_LAYOUT, DEFAULT_TOTAL_RECORDS, DEFAULT_CURRENT_PAGE, DEFAULT_PAGE_SIZE,
  DATATABLE_ACCOUNT, DATATABLE_CREATE_ACCOUNT, DATATABLE_UPDATE_ACCOUNT,
  REGULAR_COLOR,
  SAVE_RECORD_TEXT, COMMON_SEARCH_PLACEHOLDER_TEXT, BUTTON_CREATE_NEW_TEXT, BUTTON_MODIFY_ALL_TEXT, BUTTON_DELETE_ALL_TEXT, DIALOG_TITLES_CREATE_ACCOUNT_TEXT
} from '@/services/const'
import ResourceForm from '@/components/resources/ResourceForm.vue'
import DeleteButton from '@/components/resources/DeleteButton.vue'

export default {

  components: {
    ResourceForm,
    DeleteButton
  },

  data () {
    return {
      entity: 'Account',
      titles: DATATABLE_ACCOUNT,
      createTitles: DATATABLE_CREATE_ACCOUNT,
      updateTitles: DATATABLE_UPDATE_ACCOUNT,
      data: _.assign([], DEFAULT_DATA),
      paginate: _.assign({}, DEFAULT_PAGINATE),
      layout: DEFAULT_LAYOUT,
      total: DEFAULT_TOTAL_RECORDS,
      currentPage: DEFAULT_CURRENT_PAGE,
      pageSize: DEFAULT_PAGE_SIZE,
      fullSearch: null,
      selectionChange: null,
      handleDisable: true,
      handleCreateDialog: false,
      REGULAR_COLOR,
      SAVE_RECORD_TEXT,
      COMMON_SEARCH_PLACEHOLDER_TEXT,
      BUTTON_CREATE_NEW_TEXT,
      BUTTON_MODIFY_ALL_TEXT,
      BUTTON_DELETE_ALL_TEXT,
      DIALOG_TITLES_CREATE_ACCOUNT_TEXT
    }
  },

  methods: {
    async loadData (queryInfo) {
      let fullSearchParams = this.fullSearch
      let dataTable = this
      let load = loading()
      let params = paramsTable(queryInfo, fullSearchParams)
      showAccount(params).then(await function (data) {
        renderTable(dataTable, data)
      }).catch(await function (error) {
        notifyError(error)
      })
      load.close()
    },
    handleValueName (value) {
      if (_.has(value, 'name')) {
        return value['name']
      } else {
        return value
      }
    }
  }
}
</script>
