<template lang='pug'>
el-col
  el-tabs.envfileTab(tab-position="right" v-model='currentMainTab')
    el-tab-pane(v-for='environments, service in records' :key='JSON.parse(service)[0]' :label='JSON.parse(service)[2]' :name='JSON.parse(service)[0].toString()')
      el-tabs(type='card' v-model='currentSubTab')
        el-tab-pane(v-for='environment in environments' :key='environment[0]' :name='environment[0].toString()')
          template(slot="label")
            span(v-text='".env." + environment[1]')
          el-form(:inline='true')
            el-button.left-button(type='text' icon='el-icon-edit' @click='handleUpdate')
              span(v-text='SAVE_RECORD_TEXT')
            el-button.left-button(type='text' icon='el-icon-refresh' @click='handleLoadEnvFile(JSON.parse(service)[0], environment[0])')
              span(v-text='REFRESH_RECORD_TEXT')
            el-button.left-button(type='text' icon='el-icon-download' @click='handleDownload(JSON.parse(service)[0], environment[0], environment[1])')
              span(v-text='DOWNLOAD_RECORD_TEXT')
            el-button.right-button(type='text' icon='el-icon-document')
              span(v-text='BUTTON_IMPORT_FROM_FILE_TEXT' @click='handleBulkCreateDialog = true')
            el-button.right-button(type='text' icon='el-icon-tickets')
              span(v-text='BUTTON_LIST_RELEASE_TEXT' @click='handleShowReleaseList(JSON.parse(service)[0], environment[0])')
          CodeEditorForm(:value='envfileContent[JSON.parse(service)[0]][environment[0]]' :readOnly='false' @onChange='handleChangeEnvfile')
  el-dialog(:title='DIALOG_TITLES_IMPORT_FROM_FILE_TEXT' :visible.sync='handleBulkCreateDialog' :append-to-body='true' width="94%" height="90%")
    EnvFileEditor
  el-dialog(:title='DIALOG_TITLES_LIST_RELEASE_TEXT' :visible.sync='handleBulkListRelease' :append-to-body='true' width="94%" height="90%")
    ReleaseList(:serviceId='currentReleaseServiceId' :environmentId='currentReleaseEnvironmentId' :key='handleKey(currentReleaseServiceId, currentReleaseEnvironmentId)')
</template>

<style lang='sass'>
.envfileTab
  padding-bottom: 80px !important
</style>

<script>
import _ from 'lodash'
import EnvFileEditor from '@/components/resources/EnvFileEditor.vue'
import ReleaseList from '@/components/resources/ReleaseList.vue'
import CodeEditorForm from '@/components/resources/CodeEditorForm.vue'
import { showEnvFile, downloadEnvFile, uploadEnvFile } from '@/resources/envfile'
import { loading } from '@/services/loading'
import { reload } from '@/router/routing'
import { notifySuccess, notifyError } from '@/services/notify'
import {
  DIALOG_TITLES_IMPORT_FROM_FILE_TEXT, BUTTON_IMPORT_FROM_FILE_TEXT,
  DIALOG_TITLES_LIST_RELEASE_TEXT, BUTTON_LIST_RELEASE_TEXT,
  RESOURCES_VARIABLES_FILTER_FIELDS,
  CREATE_TAG_BUTTON_TEXT, SAVE_RECORD_TEXT, REFRESH_RECORD_TEXT, DOWNLOAD_RECORD_TEXT, ERROR_ENVFILE_NOT_AVAILABLE_TEXT, UPLOAD_ENVFILE_SUCCESS_TEXT
} from '@/services/const'

var updateEnvfile = function (self, isReload, changeValue) {
  let serviceId = self.currentMainTab
  let environmentId = self.currentSubTab
  let replaceVal = self.envfileContent[serviceId][environmentId]
  if (replaceVal === ERROR_ENVFILE_NOT_AVAILABLE_TEXT || isReload === true) {
    let params = {
      service_id: parseInt(serviceId),
      environment_id: parseInt(environmentId)
    }
    let load = loading()
    downloadEnvFile(params).then(function (data) {
      let blob = new Blob([data.data], { type: 'text/plain', endings: 'native' })
      let reader = new FileReader()
      reader.onload = function (e) {
        let envfileContent = _.assign({}, self.envfileContent)
        envfileContent[serviceId][environmentId] = e.target.result
        self.envfileContent = envfileContent
      }
      reader.readAsText(blob)
    }).catch(function (error) {
      notifyError(error)
    })
    load.close()
  } else if (!_.isNil(changeValue)) {
    let envfileContent = _.assign({}, self.envfileContent)
    envfileContent[serviceId][environmentId] = changeValue
    self.envfileContent = envfileContent
  }
}

export default {

  components: {
    EnvFileEditor,
    CodeEditorForm,
    ReleaseList
  },

  data () {
    return {
      RESOURCES_VARIABLES_FILTER_FIELDS,
      DIALOG_TITLES_IMPORT_FROM_FILE_TEXT,
      BUTTON_IMPORT_FROM_FILE_TEXT,
      DIALOG_TITLES_LIST_RELEASE_TEXT,
      BUTTON_LIST_RELEASE_TEXT,
      CREATE_TAG_BUTTON_TEXT,
      SAVE_RECORD_TEXT,
      REFRESH_RECORD_TEXT,
      DOWNLOAD_RECORD_TEXT,
      handleBulkCreateDialog: false,
      handleBulkListRelease: false,
      isDisabled: true,
      records: [],
      envfileContent: {},
      currentMainTab: '0',
      currentSubTab: '0',
      currentReleaseServiceId: null,
      currentReleaseEnvironmentId: null
    }
  },

  created () {
    let self = this
    showEnvFile().then(function (data) {
      self.records = data.data
      let initEnvfile = {}
      let firstMainIndex = 0
      let firstSubIndex = 0
      _.forEach(data.data, function (environmentArr, serviceArr) {
        if (firstMainIndex === 0) {
          self.currentMainTab = JSON.parse(serviceArr)[0].toString()
        }
        firstMainIndex = firstMainIndex + 1
        _.forEach(environmentArr, function ([environmentId, environmentName], subIndex) {
          if (firstSubIndex === 0) {
            self.currentSubTab = environmentId.toString()
          }
          firstSubIndex = firstSubIndex + 1
          if (_.keys(initEnvfile[JSON.parse(serviceArr)[0]]).length === 0) {
            initEnvfile[JSON.parse(serviceArr)[0]] = {}
          }
          initEnvfile[JSON.parse(serviceArr)[0]][environmentId] = ERROR_ENVFILE_NOT_AVAILABLE_TEXT
        })
      })
      self.envfileContent = initEnvfile
    }).catch(function (error) {
      notifyError(error)
    })
  },

  watch: {
    currentMainTab: function (newVal, oldVal) {
      updateEnvfile(this, false, null)
    },
    currentSubTab: function (newVal, oldVal) {
      updateEnvfile(this, false, null)
    }
  },

  methods: {
    handleLoadEnvFile (serviceId, environmentId) {
      updateEnvfile(this, true, null)
    },
    async handleDownload (serviceId, environmentId, environmentName) {
      let params = {
        service_id: serviceId,
        environment_id: environmentId
      }
      downloadEnvFile(params).then(await function (data) {
        let blob = new Blob([data.data], { type: 'text/plain', endings: 'native' })
        let link = document.createElement('a')
        link.href = window.URL.createObjectURL(blob)
        link.download = `.env.${environmentName}`
        link.click()
      }).catch(await function (error) {
        notifyError(error)
      })
    },
    handleChangeEnvfile (value) {
      updateEnvfile(this, false, value)
    },
    handleUpdate () {
      let serviceId = this.currentMainTab
      let environmentId = this.currentSubTab
      let updateValue = this.envfileContent[serviceId][environmentId]
      let blob = new Blob([updateValue], { type: 'text/plain', endings: 'native' })
      let load = loading()
      let form = new FormData()
      form.append('file', blob)
      form.append('service_id', serviceId)
      form.append('environment_id', environmentId)
      uploadEnvFile(form).then(function (data) {
        load.close()
        notifySuccess(UPLOAD_ENVFILE_SUCCESS_TEXT)
      }).catch(function (error) {
        load.close()
        notifyError(error)
      })
      reload(2000)
    },
    handleShowReleaseList (serviceId, environmentId) {
      this.handleBulkListRelease = true
      this.currentReleaseServiceId = serviceId
      this.currentReleaseEnvironmentId = environmentId
    },
    handleKey (serviceId, environmentId) {
      return `${serviceId}-${environmentId}`
    }
  }
}
</script>
