<template lang='pug'>
.login-container
  el-form.login-form(autocomplete='on' label-position='left')
    h1.title-login(v-text='LOGIN_TITLE_TEXT')
    el-form-item(prop='email')
      el-input(name='email' clearable autocomplete='on' type='text' placeholder='Email' v-model='input.email')
    el-form-item(prop='password')
      el-input(name='password' clearable autocomplete='on' type='password' placeholder='Password' v-model='input.password')
    el-form-item
      el-button.button-login(type='success' round @click='handleLogin()' v-text='BUTTON_SIGN_IN_TEXT')
    el-form-item
      el-button.button-login(type='danger' round @click='handleLoginGoogle()' v-text='BUTTON_SIGN_IN_GOOGLE_TEXT')
  video#video-background(autoplay='' loop='' muted='' plays-inline='')
    source(:src='handleBackground()' type='video/mp4')
</template>

<style lang='sass'>
@import 'src/assets/login.sass'
</style>

<script>
import {signIn, signInGoogle} from '@/services/auth'
import {BACKGROUND_LOGIN_URL, LOGIN_TITLE_TEXT, BUTTON_SIGN_IN_TEXT, BUTTON_SIGN_IN_GOOGLE_TEXT} from '@/services/const'

export default {

  name: 'Login',

  data () {
    return {
      input: {
        email: '',
        password: ''
      },
      LOGIN_TITLE_TEXT,
      BUTTON_SIGN_IN_TEXT,
      BUTTON_SIGN_IN_GOOGLE_TEXT
    }
  },

  methods: {
    async handleLogin () {
      let email = this.input.email
      let password = this.input.password
      await signIn(email, password)
    },
    async handleLoginGoogle () {
      await signInGoogle(this)
    },
    handleBackground () {
      return BACKGROUND_LOGIN_URL
    }
  }
}
</script>
