<template lang='pug'>
data-tables-server(:data='data' :total='total' @query-change='loadData' :current-page='currentPage' :page-size='pageSize' :pagination-props='paginate' :layout='layout')
  el-row(slot='tool')
    el-form(:inline='true')
      el-input.tool-search(clearable :placeholder='COMMON_SEARCH_PLACEHOLDER_TEXT' prefix-icon='el-icon-search' v-model='fullSearch' @change='loadData')
      el-button(type='text')
      el-button.right-button(type='text' icon='el-icon-plus')
        span(v-text='BUTTON_CREATE_NEW_TEXT' @click='handleCreateDialog = true')
  template(v-for='title in titles')
    template(v-if='title.prop === "project_path"')
      el-table-column(:prop='title.prop' :label='title.label' :key='title.label' sortable='custom')
        template(slot-scope='scope')
          a(:href='convertGitlab(scope.row.project_path)' v-text='scope.row.project_path' :style='{color: REGULAR_COLOR}' target='_blank')
    template(v-else)
      el-table-column(:prop='title.prop' :label='title.label' :key='title.label' sortable='custom')
  el-table-column(type='expand')
    template(slot-scope='scope')
      el-card.info-card(class='box-card')
        ResourceForm(:entity='entity' :type='"update"' :titles='titles' :records='scope')
  el-table-column(width="30")
    template(slot-scope='scope')
      DeleteButton(:entity='entity' :id='scope.row.id')
  el-dialog(:title='DIALOG_TITLES_CREATE_SERVICE_TEXT' :visible.sync='handleCreateDialog' :append-to-body='true')
    ResourceForm(:entity='entity' :type='"create"' :titles='titles')
</template>

<script>
import _ from 'lodash'
import { showService } from '@/resources/service'
import { loading } from '@/services/loading'
import { notifyError } from '@/services/notify'
import { paramsTable, renderTable } from '@/services/datatable'
import {
  DEFAULT_DATA, DEFAULT_PAGINATE, DEFAULT_LAYOUT, DEFAULT_TOTAL_RECORDS, DEFAULT_CURRENT_PAGE, DEFAULT_PAGE_SIZE,
  DATATABLE_SERVICE,
  REGULAR_COLOR,
  GITLAB_BASE_URL,
  SAVE_RECORD_TEXT, COMMON_SEARCH_PLACEHOLDER_TEXT, BUTTON_CREATE_NEW_TEXT, BUTTON_MODIFY_ALL_TEXT, BUTTON_DELETE_ALL_TEXT, DIALOG_TITLES_CREATE_SERVICE_TEXT
} from '@/services/const'
import ResourceForm from '@/components/resources/ResourceForm.vue'
import DeleteButton from '@/components/resources/DeleteButton.vue'

export default {

  components: {
    ResourceForm,
    DeleteButton
  },

  data () {
    return {
      entity: 'Service',
      titles: DATATABLE_SERVICE,
      data: _.assign([], DEFAULT_DATA),
      paginate: _.assign({}, DEFAULT_PAGINATE),
      layout: DEFAULT_LAYOUT,
      total: DEFAULT_TOTAL_RECORDS,
      currentPage: DEFAULT_CURRENT_PAGE,
      pageSize: DEFAULT_PAGE_SIZE,
      fullSearch: null,
      selectionChange: null,
      handleDisable: true,
      handleCreateDialog: false,
      REGULAR_COLOR,
      SAVE_RECORD_TEXT,
      COMMON_SEARCH_PLACEHOLDER_TEXT,
      BUTTON_CREATE_NEW_TEXT,
      BUTTON_MODIFY_ALL_TEXT,
      BUTTON_DELETE_ALL_TEXT,
      DIALOG_TITLES_CREATE_SERVICE_TEXT
    }
  },

  methods: {
    async loadData (queryInfo) {
      let fullSearchParams = this.fullSearch
      let dataTable = this
      let load = loading()
      let params = paramsTable(queryInfo, fullSearchParams)
      showService(params).then(await function (data) {
        renderTable(dataTable, data)
      }).catch(await function (error) {
        notifyError(error)
      })
      load.close()
    },
    convertGitlab (projectPath) {
      return GITLAB_BASE_URL + '/' + projectPath
    }
  }
}
</script>
