<template lang='pug'>
data-tables-server(:data='data' :total='total' @query-change='loadData' :current-page='currentPage' :page-size='pageSize' :pagination-props='paginate' :layout='layout' @selection-change='handleSelectionChange')
  el-row(slot='tool')
    el-form(:inline='true')
      el-input.tool-search(clearable :placeholder='COMMON_SEARCH_PLACEHOLDER_TEXT' prefix-icon='el-icon-search' v-model='fullSearch' @change='loadData')
      FilterTable.filter-table(:fields='RESOURCES_VARIABLES_FILTER_FIELDS' @onHandleFilter='handleFilter' @afterHandleFilter='loadData(selectValues)')
      el-button(type='text')
      el-button.right-button(type='text' icon='el-icon-plus')
        span(v-text='BUTTON_CREATE_NEW_TEXT' @click='handleCreateDialog = true')
      el-button.right-button(type='text' icon='el-icon-edit-outline' :disabled='handleDisable')
        span(v-text='BUTTON_MODIFY_ALL_TEXT' @click='!handleDisable && (handleModifyDialog = true)')
      el-button.right-button( type='text' icon='el-icon-delete' :disabled='handleDisable')
        span(v-text='BUTTON_DELETE_ALL_TEXT' @click='handleDelete')
  el-table-column(type='selection' width="35")
  template(v-for='title in titles')
    template(v-if='title.prop === "service_id"')
      el-table-column(:prop='title.prop' :label='title.label' :key='title.label' sortable='custom' width="180")
          template(slot-scope='scope')
            div(v-text='scope.row[title.prop.split("_id")[0]]["name"]')
    template(v-else-if='title.prop === "environment_id"')
      el-table-column(:prop='title.prop' :label='title.label' :key='title.label' sortable='custom' width="130")
          template(slot-scope='scope')
            div(v-text='scope.row[title.prop.split("_id")[0]]["name"]')
    template(v-else-if='title.prop === "key"')
      el-table-column(:prop='title.prop' :label='title.label' :key='title.label' sortable='custom' width="380")
    template(v-else-if='title.prop.slice(-3) === "_at"')
      el-table-column(:prop='title.prop' :label='title.label' :key='title.label' sortable='custom' width="100")
    template(v-else)
      el-table-column(:prop='title.prop' :label='title.label' :key='title.label' sortable='custom')
  el-table-column(type='expand')
    template(slot-scope='scope')
      el-card.info-card(class='box-card')
        ResourceForm(:entity='entity' :type='"update"' :titles='titles' :records='scope')
  el-table-column(width="25")
    template(slot-scope='scope')
      DeleteButton(:entity='entity' :id='scope.row.id')
  el-dialog(:title='DIALOG_TITLES_CREATE_VARIABLE_TEXT' :visible.sync='handleCreateDialog' :append-to-body='true')
    ResourceForm(:entity='entity' :type='"create"' :titles='titles')
  el-dialog(:title='DIALOG_TITLES_MODIFY_VARIABLE_TEXT' :visible.sync='handleModifyDialog' :append-to-body='true')
    ResourceForm(:entity='entity' :type='"modify"' :titles='titles' :records='selectionChange')
</template>

<script>
import _ from 'lodash'
import { reload } from '@/router/routing'
import { showVariable, deleteVariable } from '@/resources/variable'
import { loading } from '@/services/loading'
import { notifySuccess, notifyError } from '@/services/notify'
import { paramsTable, renderTable } from '@/services/datatable'
import {
  DEFAULT_DATA, DEFAULT_PAGINATE, DEFAULT_LAYOUT, DEFAULT_TOTAL_RECORDS, DEFAULT_CURRENT_PAGE, DEFAULT_PAGE_SIZE,
  DATATABLE_VARIABLE,
  REGULAR_COLOR,
  RESOURCES_VARIABLES_FILTER_FIELDS,
  SAVE_RECORD_TEXT, COMMON_SEARCH_PLACEHOLDER_TEXT, BUTTON_CREATE_NEW_TEXT, BUTTON_MODIFY_ALL_TEXT, BUTTON_DELETE_ALL_TEXT,
  DIALOG_TITLES_CREATE_VARIABLE_TEXT, DIALOG_TITLES_MODIFY_VARIABLE_TEXT,
  MESSAGEBOX_DELETE_ALL_VARIABLES_CONTENT, MESSAGEBOX_DELETE_ALL_VARIABLES_CONFIG, RECORDS_HAS_BEEN_DELETED_TEXT
} from '@/services/const'
import ResourceForm from '@/components/resources/ResourceForm.vue'
import DeleteButton from '@/components/resources/DeleteButton.vue'
import FilterTable from '@/components/resources/FilterTable.vue'

export default {

  components: {
    ResourceForm,
    DeleteButton,
    FilterTable
  },

  data () {
    return {
      entity: 'Variable',
      titles: DATATABLE_VARIABLE,
      data: _.assign([], DEFAULT_DATA),
      paginate: _.assign({}, DEFAULT_PAGINATE),
      layout: DEFAULT_LAYOUT,
      total: DEFAULT_TOTAL_RECORDS,
      currentPage: DEFAULT_CURRENT_PAGE,
      pageSize: DEFAULT_PAGE_SIZE,
      fullSearch: null,
      selectionChange: null,
      handleDisable: true,
      handleCreateDialog: false,
      handleModifyDialog: false,
      queryInfo: {},
      selectValues: {},
      REGULAR_COLOR,
      SAVE_RECORD_TEXT,
      COMMON_SEARCH_PLACEHOLDER_TEXT,
      BUTTON_CREATE_NEW_TEXT,
      BUTTON_MODIFY_ALL_TEXT,
      BUTTON_DELETE_ALL_TEXT,
      DIALOG_TITLES_CREATE_VARIABLE_TEXT,
      DIALOG_TITLES_MODIFY_VARIABLE_TEXT,
      RESOURCES_VARIABLES_FILTER_FIELDS
    }
  },

  methods: {
    async loadData (queryInfo) {
      _.merge(this.queryInfo, queryInfo)
      if (_.keys(queryInfo).length === 1 && _.keys(queryInfo)[0] === 'compoundFilters') {
        let newQueryInfo = _.assign({}, this.queryInfo)
        newQueryInfo.compoundFilters = queryInfo.compoundFilters
        this.queryInfo = newQueryInfo
      }
      let fullSearchParams = this.fullSearch
      let dataTable = this
      let load = loading()
      let params = paramsTable(this.queryInfo, fullSearchParams)
      showVariable(params).then(await function (data) {
        renderTable(dataTable, data)
      }).catch(await function (error) {
        notifyError(error)
      })
      load.close()
    },
    handleSelectionChange (data) {
      if (_.size(data) === 0) {
        this.selectionChange = null
        this.handleDisable = true
      } else {
        this.selectionChange = data
        this.handleDisable = false
      }
    },
    handleFilter (values) {
      this.selectValues = {compoundFilters: values}
    },
    handleDelete () {
      this.$confirm(
        MESSAGEBOX_DELETE_ALL_VARIABLES_CONTENT,
        MESSAGEBOX_DELETE_ALL_VARIABLES_CONFIG
      ).then(() => {
        let successDeleted = 0
        let deletedIDs = _.map(this.selectionChange, 'id')
        _.forEach(deletedIDs, function (id, index) {
          deleteVariable(id).then(function (data) {
            successDeleted = successDeleted + 1
            if ((index === deletedIDs.length - 1) && (successDeleted > 0)) {
              notifySuccess(`${successDeleted} ${RECORDS_HAS_BEEN_DELETED_TEXT}`)
              reload()
            }
          }).catch(function (error) {
            notifyError(error)
          })
        })
      }).catch(() => {})
    }
  }
}
</script>
