<template lang='pug'>
el-container.main
  el-main
    keep-alive
      router-view
  el-footer
    footer(v-text='FOOTER_TEXT')
</template>

<style lang='sass'>
@import 'src/assets/body.sass'
</style>

<script>
import {FOOTER_TEXT} from '@/services/const'
export default {

  data () {
    return {
      FOOTER_TEXT
    }
  }
}
</script>
