<template lang='pug'>
el-aside
  el-col.sidebar(v-if='handleRender()')
    aside.collapsed.menu-expanded
      el-menu
        a.nondecorate(:href='handleHref(HOME_PATH)' @click='redirect(HOME_PATH)')
            EDMSVG.edumall-icon
        h5.current-user(v-text='currentUser()')
        el-menu-item-group(v-for='(services, group) in sidebarContent' :key='group' )
          template(slot='title')
            #sidebar-group.span(v-text='group')
          #sidebar-path(v-for='(info, name) in services')
            a.nondecorate(:href='handleHref(info[0])')
              router-link.el-menu-item(tag='li' :to='handlePath(info[0])' v-text='name' :style='handleStyle(sidebarContent, group, name)' @click.native='handleSidebar(info[0])' index='info[0]')
          br
        el-menu-item-group
          template(slot='title')
            #sidebar-group.span(v-text='SIDEBAR_SETTING_TEXT')
          #sidebar-path.sidebar-signout
            el-menu-item(v-text='BUTTON_SIGN_OUT_TEXT' @click='handleSignOut()' :style='signoutStyle' index='"#"')
</template>

<style scoped lang='sass'>
@import 'src/assets/sidebar.sass'
</style>

<script>
import {getCredentials, signOut, isAuthenticated} from '@/services/auth'
import {redirect} from '@/router/routing'
import {
  SIDEBAR_CONTENT, HOME_PATH,
  BUTTON_SIGN_OUT_TEXT, SIDEBAR_SETTING_TEXT,
  DEFAULT_COLOR, PRIMARY_COLOR, DANGER_COLOR
} from '@/services/const'
import EDMSVG from '@/components/EDMSVG.vue'
import _ from 'lodash'

export default {

  data () {
    return {
      sidebarContent: SIDEBAR_CONTENT,
      signoutStyle: {
        color: DANGER_COLOR
      },
      BUTTON_SIGN_OUT_TEXT,
      SIDEBAR_SETTING_TEXT,
      HOME_PATH,
      redirect
    }
  },

  components: {
    EDMSVG
  },

  methods: {
    currentUser () {
      return getCredentials()['uid']
    },
    async handleSignOut () {
      await signOut()
    },
    handleRender () {
      return isAuthenticated()
    },
    handlePath (routerPath) {
      return {
        path: routerPath
      }
    },
    handleHref (path) {
      return '/#' + path
    },
    handleStyle (sidebarContent, group, name) {
      if (this.$router.currentRoute.path === sidebarContent[group][name][0]) {
        sidebarContent[group][name][1].color = DEFAULT_COLOR
      }
      return sidebarContent[group][name][1]
    },
    handleSidebar (routerPath) {
      let sidebar = this
      _.forOwn(this.sidebarContent, function (value, group) {
        _.forOwn(value, function (info, service) {
          if (info[0] === routerPath) {
            sidebar.sidebarContent[group][service][1].color = DEFAULT_COLOR
          } else {
            sidebar.sidebarContent[group][service][1].color = PRIMARY_COLOR
          }
        })
      })
    }
  }
}
</script>
