<template lang='pug'>
codemirror(:value='value' :options='codeMirrorOptions' @input='handleChange')
</template>

<style lang='sass'>
.CodeMirror
  height: 100% !important
</style>

<script>
import { codemirror } from 'vue-codemirror'
import 'codemirror/lib/codemirror.css'
import 'codemirror/theme/dracula.css'
import 'codemirror/mode/shell/shell.js'

export default {

  name: 'CodeEditorForm',

  components: {
    codemirror
  },

  props: {
    value: { type: String, required: true },
    readOnly: { type: Boolean, required: true }
  },

  data () {
    return {
      codeMirrorOptions: {
        mode: 'application/x-sh',
        theme: 'dracula',
        tabSize: 2,
        line: true,
        indentWithTabs: true,
        smartIndent: true,
        lineNumbers: true,
        lineWrapping: false,
        autofocus: true
      }
    }
  },

  created () {
    if (this.readOnly) {
      this.codeMirrorOptions.readOnly = 'nocursor'
    }
  },

  methods: {
    handleChange (value) {
      this.$emit('onChange', value)
    }
  }

}
</script>
