<template lang='pug'>
el-popover(placement='top')
  p(v-text='POPOVER_DELETE_RECORD_TITLE_TEXT')
  div(style='text-align: right; margin: 0')
    el-button(size='mini' type='primary' @click='handleDeleteRecord(id)' v-text='POPOVER_DELETE_RECORD_CONFIRM_BUTTON_TEXT')
  a(:href='"#"' slot='reference')
    i(class='el-icon-delete' :style='{color: DANGER_COLOR, float: "right"}')
</template>

<script>
import { reload } from '@/router/routing'
import { deleteService } from '@/resources/service'
import { deleteEnvironment } from '@/resources/environment'
import { deleteVariable } from '@/resources/variable'
import { deleteCompany } from '@/resources/company'
import { deleteDepartment } from '@/resources/department'
import { deleteAccount } from '@/resources/account'
import { deleteRole } from '@/resources/role'
import { notifyError, notifySuccess } from '@/services/notify'
import { POPOVER_DELETE_RECORD_CONFIRM_BUTTON_TEXT, POPOVER_DELETE_RECORD_TITLE_TEXT, DELETE_RECORD_SUCCESS_TEXT, DANGER_COLOR } from '@/services/const'

export default {

  name: 'DeleteButton',

  props: {
    entity: { type: String, required: true },
    id: { type: Number, required: true }
  },

  data () {
    return {
      POPOVER_DELETE_RECORD_CONFIRM_BUTTON_TEXT,
      POPOVER_DELETE_RECORD_TITLE_TEXT,
      DELETE_RECORD_SUCCESS_TEXT,
      DANGER_COLOR
    }
  },

  methods: {
    async handleDeleteRecord (id) {
      switch (this.entity) {
        case 'Service':
          deleteService(id).then(await function (data) {
            notifySuccess(DELETE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Environment':
          deleteEnvironment(id).then(await function (data) {
            notifySuccess(DELETE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Variable':
          deleteVariable(id).then(await function (data) {
            notifySuccess(DELETE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Company':
          deleteCompany(id).then(await function (data) {
            notifySuccess(DELETE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Department':
          deleteDepartment(id).then(await function (data) {
            notifySuccess(DELETE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Account':
          deleteAccount(id).then(await function (data) {
            notifySuccess(DELETE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Role':
          deleteRole(id).then(await function (data) {
            notifySuccess(DELETE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
      }
    }
  }
}
</script>
