<template lang='pug'>
el-row.codemirror-row(:gutter="10")
  el-col(:span='6')
    FilterTable.filter-env-editor(:fields='RESOURCES_VARIABLES_FILTER_FIELDS' @onHandleFilter='handleFilter' @afterHandleFilter='')
    el-upload.button-upload(drag multiple :limit='1' :action='FAKE_API_POST_URL' :on-success='handleChange' :on-remove='handleRemove')
      i.el-icon-upload
      .el-upload__text
        div(v-text='ENV_FILE_EDITOR_UPLOAD_TEXT')
    el-button.create-env-button(type='primary' v-text='UPLOAD_ENVFILE_BUTTON_TEXT' @click='handleImportFile' :disabled='isDisabled')
  el-col(:span='18')
    CodeEditorForm(:value='codeValue' :readOnly='true')
</template>

<style lang='sass'>
@import 'src/assets/env-file-editor.sass'
</style>

<script>
import _ from 'lodash'
import { loading } from '@/services/loading'
import { reload } from '@/router/routing'
import { notifySuccess, notifyError } from '@/services/notify'
import { uploadEnvFile } from '@/resources/envfile'
import { RESOURCES_VARIABLES_FILTER_FIELDS, ENV_FILE_EDITOR_UPLOAD_TEXT, DEFAULT_CODEEDITOR_CONTENT, UPLOAD_ENVFILE_BUTTON_TEXT, UPLOAD_ENVFILE_SUCCESS_TEXT, FAKE_API_POST_URL } from '@/services/const'
import FilterTable from '@/components/resources/FilterTable.vue'
import CodeEditorForm from '@/components/resources/CodeEditorForm.vue'

var handleDisableButton = function (self) {
  if (self.file === null || _.size(self.filters) < 2) {
    self.isDisabled = true
  } else {
    self.isDisabled = false
  }
}

export default {

  name: 'EnvFileEditor',

  components: {
    FilterTable,
    CodeEditorForm
  },

  data () {
    return {
      RESOURCES_VARIABLES_FILTER_FIELDS,
      ENV_FILE_EDITOR_UPLOAD_TEXT,
      UPLOAD_ENVFILE_BUTTON_TEXT,
      FAKE_API_POST_URL,
      codeValue: DEFAULT_CODEEDITOR_CONTENT,
      file: null,
      filters: {},
      isDisabled: true
    }
  },

  methods: {
    handleFilter (values) {
      this.filters = values
      handleDisableButton(this)
    },
    handleChange (response, file, fileList) {
      this.file = file
      handleDisableButton(this)
      let reader = new FileReader()
      let self = this
      reader.onload = function (e) {
        self.codeValue = e.target.result
      }
      reader.readAsText(file.raw)
    },
    handleRemove (file, fileList) {
      this.file = null
      handleDisableButton(this)
    },
    handleImportFile () {
      if (this.isDisabled === false) {
        let load = loading()
        let form = new FormData()
        form.append('file', this.file.raw)
        form.append('service_id', this.filters.service_id)
        form.append('environment_id', this.filters.environment_id)
        uploadEnvFile(form).then(function (data) {
          load.close()
          notifySuccess(UPLOAD_ENVFILE_SUCCESS_TEXT)
        }).catch(function (error) {
          load.close()
          notifyError(error)
        })
        reload(2000)
      }
    }
  }
}
</script>
