<template lang='pug'>
.el-input.input-inline
  SelectForm.select-filter(v-for='field in fields' :key='field' :entity='field' :type='"filter"' @onHandleFilterSelect='handleFilterSelectValue')
</template>

<script>
import _ from 'lodash'
import SelectForm from '@/components/resources/SelectForm.vue'

export default {

  name: 'FilterTable',

  components: {
    SelectForm
  },

  props: {
    fields: { type: Array, required: true }
  },

  data () {
    return {
      filterRecords: {}
    }
  },

  methods: {
    handleFilterSelectValue (value, entity) {
      this.filterRecords[entity] = value
      if (value === '') {
        this.filterRecords = _.omit(this.filterRecords, [entity])
      }
      this.$emit('onHandleFilter', this.filterRecords)
      this.$emit('afterHandleFilter')
    }
  }
}
</script>
