<template lang='pug'>
  el-collapse
    el-collapse-item(v-for='release in releaseData' :key='release["id"]' :name='release["id"]' v-if='release["id"]' style='width: 100%')
      template(slot="title")
        h3(v-text='handleReleaseName(release["created_at"])')
        p(v-text='handleReleaseTime(release["created_at"])' style="margin-left: 30%")
        el-button(type='danger' plain size='small' icon='el-icon-upload2' style="margin-left: 35%")
          span(v-text='RESTORE_ENV_TEXT' @click='handleRestoreEnv(release["id"], release["data"])')
      CodeEditorForm(:value='handleRenderEnv(release["data"])' :readOnly='true')
</template>

<style scoped lang='sass'>
</style>

<script>
import moment from 'moment'
import { showRelease } from '@/resources/release'
import { notifySuccess, notifyError } from '@/services/notify'
import { uploadEnvFile } from '@/resources/envfile'
import { loading } from '@/services/loading'
import { reload } from '@/router/routing'
import { DATETIME_FORMAT, RESTORE_ENV_TEXT, UPLOAD_ENVFILE_SUCCESS_TEXT } from '@/services/const'
import CodeEditorForm from '@/components/resources/CodeEditorForm.vue'

export default {

  name: 'ReleaseList',

  components: {
    CodeEditorForm
  },

  props: {
    serviceId: { type: Number, required: true },
    environmentId: { type: Number, required: true }
  },

  created () {
    let self = this
    let params = {
      service_id: self.serviceId,
      environment_id: self.environmentId,
      per_page: 'infinite'
    }
    showRelease(params).then(function (data) {
      self.releaseData = JSON.parse(JSON.stringify(data.data['records']))
    }).catch(function (error) {
      notifyError(error)
    })
  },

  data () {
    return {
      releaseData: [],
      RESTORE_ENV_TEXT
    }
  },

  methods: {
    handleReleaseTime (createdAt) {
      return moment(createdAt).format(DATETIME_FORMAT)
    },
    handleReleaseName (createdAt) {
      return Date.parse(createdAt)
    },
    handleRenderEnv (stringEnv) {
      let decodedString = atob(stringEnv)
      return decodedString
    },
    handleRestoreEnv (releaseId, releaseData) {
      let fileData = atob(releaseData)
      let blob = new Blob([fileData], { type: 'text/plain', endings: 'native' })
      let load = loading()
      let form = new FormData()
      form.append('file', blob)
      form.append('service_id', this.serviceId)
      form.append('environment_id', this.environmentId)
      uploadEnvFile(form).then(function (data) {
        load.close()
        notifySuccess(UPLOAD_ENVFILE_SUCCESS_TEXT)
      }).catch(function (error) {
        load.close()
        notifyError(error)
      })
      reload(2000)
    }
  }
}
</script>
