<template lang='pug'>
el-row
  el-form(label-position='left' label-width='150px' v-if='type === "update"')
    el-form-item(v-for='title in titles' v-if='title.editable' :label='title.label' :key='title.index' :rules='handleRule(title.label)')
      template(v-if='handleAccountCase(entity, title.prop)')
        SelectForm(:entity='title.prop + "_id"' :type='"update"' :defaultValue='handleDefaultValue(records.row[title.prop])' @onHandleUpdateSelect='handleUpdateSelectValue')
      template(v-else-if='title.prop.slice(-3) === "_id"')
        SelectForm(:entity='title.prop' :type='"update"' :defaultValue='records.row[title.prop]' @onHandleUpdateSelect='handleUpdateSelectValue')
      template(v-else-if='title.prop === "value"')
        el-input(type="textarea" autosize v-model='records.row[title.prop]')
      template(v-else-if='title.prop === "password"')
        el-input(type="password" v-model='records.row[title.prop]')
      template(v-else)
        el-input(v-model='records.row[title.prop]')
    el-button.tool-button(type='text' v-text='SAVE_RECORD_TEXT' @click='handleUpdateRecord(records.row)')
  el-form(:model='createValues' label-position='left' label-width='150px' v-else-if='type === "create"')
    el-form-item(v-for='title in titles' v-if='title.editable' :label='title.label' :key='title.index' :rules='handleRule(title.label)')
      template(v-if='title.prop.slice(-3) === "_id"')
        SelectForm(:entity='title.prop' :type='"create"' @onHandleCreateSelect='handleCreateSelectValue')
      template(v-else-if='title.prop === "value"')
        el-input(type="textarea" autosize v-model='createValues[title.prop]')
      template(v-else-if='title.prop === "password"')
        el-input(type="password" v-model='createValues[title.prop]')
      template(v-else)
        el-input(v-model='createValues[title.prop]')
    el-button.tool-button(type='text' v-text='SAVE_RECORD_TEXT' @click='handleCreateRecord()')
  el-form(:model='modifyValues' label-position='left' label-width='150px' v-else-if='type === "modify"' :key='JSON.stringify(records)')
    el-form-item.el-row(v-for='title in titles' v-if='title.editable' :label='title.label' :key='title.index' :rules='handleRule(title.label)')
      el-col(v-if='title.prop.slice(-3) === "_id"' :span="23")
        SelectForm(:entity='title.prop' :type='"modify"' :defaultValue='modifyValues[title.prop]' @onHandleModifySelect='handleModifySelectValue')
      el-col(v-else-if='title.prop === "value"' :span="23")
        el-input(type="textarea" autosize v-model='modifyValues[title.prop]')
      el-col(v-else :span="23")
        el-input(v-model='modifyValues[title.prop]')
      el-checkbox.el-col.checkbox-modify(:span="1" :checked='true' @change='selectCheckbox[title.prop] = !selectCheckbox[title.prop]')
    el-button.tool-button(type='text' v-text='SAVE_RECORD_TEXT' @click='handleModifyRecord()')
</template>

<script>
import _ from 'lodash'
import { loading } from '@/services/loading'
import { reload } from '@/router/routing'
import { updateService, createService } from '@/resources/service'
import { updateEnvironment, createEnvironment } from '@/resources/environment'
import { updateVariable, createVariable } from '@/resources/variable'
import { updateCompany, createCompany } from '@/resources/company'
import { updateDepartment, createDepartment } from '@/resources/department'
import { updateAccount, createAccount } from '@/resources/account'
import { updateRole, createRole } from '@/resources/role'
import { notifyError, notifySuccess } from '@/services/notify'
import {
  SAVE_RECORD_TEXT, UPDATE_RECORD_SUCCESS_TEXT, CREATE_RECORD_SUCCESS_TEXT,
  PASSWORD_NOT_FOUND_TEXT, ADMINROLE_NOT_FOUND_TEXT, ROLE_NOT_FOUND_TEXT, PASSWORD_LENGTH_TOO_SHORT_TEXT
} from '@/services/const'
import SelectForm from '@/components/resources/SelectForm.vue'
import CodeEditorForm from '@/components/resources/CodeEditorForm.vue'

var validateAccountParams = function (saveFields) {
  if (!_.has(saveFields, 'password') || _.isNil(saveFields['password']) || saveFields['password'] === '') {
    notifyError(PASSWORD_NOT_FOUND_TEXT)
    return false
  } else if (saveFields['password'].length < 8) {
    notifyError(PASSWORD_LENGTH_TOO_SHORT_TEXT)
    return false
  } else if (!_.has(saveFields, 'adminrole_id') || _.isNil(saveFields['adminrole_id'])) {
    notifyError(ADMINROLE_NOT_FOUND_TEXT)
    return false
  } else if (!_.has(saveFields, 'role_id') || _.isNil(saveFields['role_id'])) {
    notifyError(ROLE_NOT_FOUND_TEXT)
    return false
  } else {
    saveFields['password_confirmation'] = saveFields['password']
    saveFields['aruser_assignment_attributes'] = {
      adminrole_id: saveFields['adminrole_id'].toString()
    }
    saveFields['user_assignment_attributes'] = {
      role_id: saveFields['role_id'].toString()
    }
    return true
  }
}

var refactorAccountParams = function (saveFields) {
  if (_.has(saveFields, 'password') && saveFields['password'] !== '' && !_.isNil(saveFields['password'] && saveFields['password'].length >= 8)) {
    saveFields['password_confirmation'] = saveFields['password']
  }
  if (_.has(saveFields, 'adminrole_id')) {
    saveFields['aruser_assignment_attributes'] = {
      adminrole_id: saveFields['adminrole_id'].toString()
    }
  }
  if (_.has(saveFields, 'role_id')) {
    saveFields['user_assignment_attributes'] = {
      role_id: saveFields['role_id'].toString()
    }
  }
}

export default {

  name: 'ResourceForm',

  components: {
    SelectForm,
    CodeEditorForm
  },

  props: {
    entity: { type: String, required: true },
    type: { type: String, required: true }, // create, update, modify
    titles: { type: Array, required: true },
    records: {}
  },

  data () {
    return {
      createValues: {},
      modifyValues: {},
      selectRecords: {},
      selectCheckbox: [],
      SAVE_RECORD_TEXT
    }
  },

  watch: {
    records: {
      handler: function (newVal, oldVal) {
        this.updateCommonFields()
      },
      immediate: true
    }
  },

  created () {
    let selectCheckbox = this.selectCheckbox
    _.forEach(_.filter(this.titles, ['editable', true]), function (obj) {
      selectCheckbox[obj.prop] = true
    })
  },

  methods: {
    handleRule (title) {
      return [
        {
          required: true
        }
      ]
    },
    async handleCreateRecord () {
      let load = loading()
      let editableFields = _.map(_.filter(this.titles, ['editable', true]), 'prop')
      let saveFields = _.pick(this.createValues, editableFields)
      switch (this.entity) {
        case 'Service':
          createService(saveFields).then(await function (data) {
            notifySuccess(CREATE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Environment':
          createEnvironment(saveFields).then(await function (data) {
            notifySuccess(CREATE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Variable':
          createVariable(saveFields).then(await function (data) {
            notifySuccess(CREATE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Company':
          createCompany(saveFields).then(await function (data) {
            notifySuccess(CREATE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Department':
          createDepartment(saveFields).then(await function (data) {
            notifySuccess(CREATE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Account':
          if (validateAccountParams(saveFields)) {
            saveFields = {
              account: saveFields
            }
            createAccount(saveFields).then(await function (data) {
              notifySuccess(CREATE_RECORD_SUCCESS_TEXT)
              reload()
            }).catch(await function (error) {
              notifyError(error)
            })
          }
          break
        case 'Role':
          createRole(saveFields).then(await function (data) {
            notifySuccess(CREATE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
      }
      load.close()
    },
    async handleUpdateRecord (data) {
      let load = loading()
      let id = data['id']
      let editableFields = _.map(_.filter(this.titles, ['editable', true]), 'prop')
      let saveFields = _.pick(data, editableFields)
      switch (this.entity) {
        case 'Service':
          updateService(id, saveFields).then(await function (data) {
            notifySuccess(UPDATE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Environment':
          updateEnvironment(id, saveFields).then(await function (data) {
            notifySuccess(UPDATE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Variable':
          if (!_.isEmpty(this.selectRecords)) {
            _.forEach(this.selectRecords, function (value, key) {
              saveFields[key] = value
            })
          }
          updateVariable(id, saveFields).then(await function (data) {
            notifySuccess(UPDATE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Company':
          updateCompany(id, saveFields).then(await function (data) {
            notifySuccess(UPDATE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Department':
          if (!_.isEmpty(this.selectRecords)) {
            _.forEach(this.selectRecords, function (value, key) {
              saveFields[key] = value
            })
          }
          updateDepartment(id, saveFields).then(await function (data) {
            notifySuccess(UPDATE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Account':
          if (!_.isEmpty(this.selectRecords)) {
            _.forEach(this.selectRecords, function (value, key) {
              saveFields[key] = value
            })
          }
          refactorAccountParams(saveFields)
          saveFields = {
            account: saveFields
          }
          updateAccount(id, saveFields).then(await function (data) {
            notifySuccess(UPDATE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
          break
        case 'Role':
          updateRole(id, saveFields).then(await function (data) {
            notifySuccess(UPDATE_RECORD_SUCCESS_TEXT)
            reload()
          }).catch(await function (error) {
            notifyError(error)
          })
      }
      load.close()
    },
    async handleModifyRecord () {
      let load = loading()
      let modifiableFields = _.keys(_.pickBy(this.selectCheckbox, function (val) { return (val === true) }))
      let modifyIds = _.map(this.records, 'id')
      let modifyParams = _.pick(this.modifyValues, modifiableFields)
      switch (this.entity) {
        case 'Variable':
          _.forEach(modifyIds, await function (value) {
            updateVariable(value, modifyParams).then(function (data) {
              notifySuccess(UPDATE_RECORD_SUCCESS_TEXT)
              reload()
            }).catch(function (error) {
              notifyError(error)
            })
          })
          break
      }
      load.close()
    },
    handleCreateSelectValue (value, entity) {
      this.createValues[entity] = value
    },
    handleModifySelectValue (value, entity) {
      this.modifyValues[entity] = value
    },
    handleUpdateSelectValue (value, entity) {
      this.selectRecords[entity] = value
    },
    updateCommonFields () {
      if (this.type === 'modify') {
        let records = this.records
        let modifyValues = this.modifyValues
        let editableFields = _.map(_.filter(this.titles, ['editable', true]), 'prop')
        _.forEach(editableFields, function (field) {
          let setCommonFields = _.uniq(_.map(records, field))
          if (setCommonFields.length === 1) {
            modifyValues[field] = setCommonFields[0]
          } else {
            modifyValues[field] = null
          }
        })
      }
    },
    handleAccountCase (entity, prop) {
      let specialCase = ['role', 'adminrole', 'company', 'department']
      if (entity === 'Account' && _.includes(specialCase, prop)) {
        return true
      } else {
        return false
      }
    },
    handleDefaultValue (data) {
      if (_.has(data, 'id')) {
        return data['id']
      } else {
        return null
      }
    }
  }
}
</script>
