<template lang='pug'>
div
  el-col.entity-text.title-text(v-text='"ENTITY"')
  el-col.role-text.title-text(v-for='model in entityModels' :key='model' v-text='model.toUpperCase()')
  el-button.add-entity-dialog-button(type='text' @click='handleDialog = true')
    i(class='el-icon-circle-plus-outline')
  div(v-for='entities, namespace in records' :key='')
    div.entities-select(v-for='entity, name in entities')
      el-button.entity-select(v-text='namespace + "." + name' @click='handleEntityInfo(name, namespace)')
      el-select.role-select(filterable clearable slot="append" v-for='model in entityModels' :key='model' v-model='entity[model]' :placeholder='handlePlaceholder(model)' @change='handleChangeEntityValue')
        el-option(v-for='value in entityValues' :key='value' :value='[name, namespace, model, value]' :label='value')
      el-button.delele-entity(type="text" @click='handleDeleteEntity(name, namespace)')
        i(class='el-icon-delete' :style='{color: DANGER_COLOR, float: "right"}')
  el-button.update-button(type='text' v-text='SAVE_RECORD_TEXT' @click='handleUpdateRole')
  el-dialog(:title='DIALOG_TITLES_ADD_ENTITY_TEXT' :visible.sync='handleDialog' :append-to-body='true')
    SelectForm(:entity='"entity_id"' :type='"filter"' @onHandleFilterSelect='handleFilterSelectValue')
    el-button.add-entity-dialog-text(type='text' v-text='ADD_ENTITY_TEXT' :disabled='handleDisable' @click='handleAddEntity')
</template>

<style lang='sass'>
@import 'src/assets/role-assign-form.sass'
</style>

<script>
import _ from 'lodash'
import SelectForm from '@/components/resources/SelectForm.vue'
import { updateRole } from '@/resources/role'
import { loading } from '@/services/loading'
import { notifySuccess, notifyError } from '@/services/notify'
import {
  RESOURCE_ENTITY_MODELS, RESOURCE_ENTITY_VALUES,
  DANGER_COLOR,
  SAVE_RECORD_TEXT, ADD_ENTITY_TEXT, DIALOG_TITLES_ADD_ENTITY_TEXT, ENTITY_MESSAGE_BOX_TITLE_TEXT, UPDATE_RECORD_SUCCESS_TEXT
} from '@/services/const'

export default {

  name: 'RoleAssignForm',

  components: {
    SelectForm
  },

  props: {
    id: { type: Number, required: true },
    value: { type: Object, required: true }
  },

  data () {
    return {
      records: _.assign({}, this.value['permissions']),
      entityModels: RESOURCE_ENTITY_MODELS,
      entityValues: RESOURCE_ENTITY_VALUES,
      handleDialog: false,
      handleDisable: true,
      addEntity: [],
      DANGER_COLOR,
      SAVE_RECORD_TEXT,
      ADD_ENTITY_TEXT,
      DIALOG_TITLES_ADD_ENTITY_TEXT
    }
  },

  methods: {
    handleFilterSelectValue (value, entity) {
      if (_.isNil(value) || value === '') {
        this.handleDisable = true
        this.addEntity = []
      } else {
        this.handleDisable = false
        this.addEntity = _.split(value, '.', 2)
      }
    },
    handlePlaceholder (model) {
      return _.upperFirst(model) + ' Role'
    },
    handleAddEntity () {
      let newRecords = _.assign({}, this.records)
      let namespace = this.addEntity[0]
      let name = this.addEntity[1]
      if (_.isNil(newRecords[namespace])) {
        newRecords[namespace] = {}
      }
      newRecords[namespace][name] = {
        'create': 'none',
        'read': 'none',
        'update': 'none',
        'delete': 'none'
      }
      this.records = newRecords
      this.handleDialog = false
    },
    handleDeleteEntity (name, namespace) {
      let newRecords = _.assign({}, this.records)
      let newNamespace = _.assign({}, newRecords[namespace])
      delete newNamespace[name]
      newRecords[namespace] = newNamespace
      if (newRecords[namespace] === {}) {
        delete newRecords[namespace]
      }
      this.records = newRecords
    },
    handleChangeEntityValue (data) {
      let newRecords = _.assign({}, this.records)
      let name = data[0]
      let namespace = data[1]
      let model = data[2]
      let value = data[3]
      newRecords[namespace][name][model] = value
      this.records = newRecords
    },
    handleEntityInfo (name, namespace) {
      let h = this.$createElement
      this.$msgbox({
        title: ENTITY_MESSAGE_BOX_TITLE_TEXT,
        message: h('div', null, [
          h('b', null, 'Namespace: '),
          h('span', null, namespace),
          h('br', null, null),
          h('b', null, 'Name: '),
          h('span', null, name)
        ]),
        showConfirmButton: false
      })
    },
    async handleUpdateRole () {
      let load = loading()
      let id = this.id
      let saveFields = {
        permissions: this.records
      }
      saveFields = {
        role: saveFields
      }
      updateRole(id, saveFields).then(await function (data) {
        notifySuccess(UPDATE_RECORD_SUCCESS_TEXT)
      }).catch(await function (error) {
        notifyError(error)
      })
      load.close()
    }
  }
}
</script>
