<template lang='pug'>
el-select.select-input(v-model='model' filterable clearable :placeholder='handleSelectPlaceholder(entity)' @change='handleLoadValue')
  el-option(v-for='item in options' :key='item.id' :label='handleLabel(item)' :value='handleValue(item)')
    div(v-if='entity === "entity_id"')
      span.select-left-option(v-text='item.namespace' style="width: 100px")
      span.select-left-option(v-text='"»"')
      span.select-left-option(v-text='item.name')
    div(v-else)
      span.select-left-option(v-text='item.name' v-if='entity !== "entity_id"')
      span.select-right-option(v-text='item.project_path' v-if='entity === "service_id"')
</template>

<script>
import _ from 'lodash'
import { showEnvironment } from '@/resources/environment'
import { showService } from '@/resources/service'
import { showDepartment } from '@/resources/department'
import { showCompany } from '@/resources/company'
import { showRole } from '@/resources/role'
import { showAdminrole } from '@/resources/adminrole'
import { showEntity } from '@/resources/entity'
import { notifyError } from '@/services/notify'

export default {

  name: 'SelectForm',

  props: {
    entity: { type: String, required: true },
    type: { type: String, required: true }, // create, update, modify, filter
    defaultValue: {}
  },

  data () {
    return {
      options: [],
      model: this.defaultValue
    }
  },

  methods: {
    handleLoadValue () {
      switch (this.type) {
        case 'create':
          this.$emit('onHandleCreateSelect', this.model, this.entity)
          break
        case 'update':
          this.$emit('onHandleUpdateSelect', this.model, this.entity)
          break
        case 'modify':
          this.$emit('onHandleModifySelect', this.model, this.entity)
          break
        case 'filter':
          this.$emit('onHandleFilterSelect', this.model, this.entity)
          break
      }
    },
    handleSelectPlaceholder (entity) {
      let camelcaseText = _.upperFirst(_.camelCase(entity.slice(0, -3)))
      return 'Select ' + camelcaseText
    },
    handleLabel (item) {
      if (this.entity === 'entity_id') {
        return item.namespace + ' » ' + item.name
      } else {
        return item.name
      }
    },
    handleValue (item) {
      if (this.entity === 'entity_id') {
        return item.namespace + '.' + item.name
      } else {
        return item.id
      }
    }
  },

  created () {
    let params = {
      per_page: 'infinite'
    }
    let self = this
    switch (this.entity) {
      case 'service_id':
        if (localStorage.service_id) {
          self.options = JSON.parse(localStorage.service_id)
        } else {
          showService(params).then(function (data) {
            self.options = data.data.records
          }).catch(function (error) {
            notifyError(error)
          })
        }
        break
      case 'environment_id':
        if (localStorage.environment_id) {
          self.options = JSON.parse(localStorage.environment_id)
        } else {
          showEnvironment(params).then(function (data) {
            self.options = data.data.records
          }).catch(function (error) {
            notifyError(error)
          })
        }
        break
      case 'sup_department_id': case 'department_id':
        if (localStorage.department_id) {
          self.options = JSON.parse(localStorage.department_id)
        } else {
          showDepartment(params).then(function (data) {
            self.options = data.data.records
          }).catch(function (error) {
            notifyError(error)
          })
        }
        break
      case 'company_id':
        if (localStorage.company_id) {
          self.options = JSON.parse(localStorage.company_id)
        } else {
          showCompany(params).then(function (data) {
            self.options = data.data.records
          }).catch(function (error) {
            notifyError(error)
          })
        }
        break
      case 'role_id':
        if (localStorage.role_id) {
          self.options = JSON.parse(localStorage.role_id)
        } else {
          showRole(params).then(function (data) {
            self.options = data.data.records
          }).catch(function (error) {
            notifyError(error)
          })
        }
        break
      case 'adminrole_id':
        if (localStorage.adminrole_id) {
          self.options = JSON.parse(localStorage.adminrole_id)
        } else {
          showAdminrole(params).then(function (data) {
            self.options = data.data.records
          }).catch(function (error) {
            notifyError(error)
          })
        }
        break
      case 'entity_id':
        if (localStorage.entity_id) {
          self.options = JSON.parse(localStorage.entity_id)
        } else {
          showEntity(params).then(function (data) {
            self.options = data.data.records
          }).catch(function (error) {
            notifyError(error)
          })
        }
        break
    }
  },

  mounted () {
    let params = {
      per_page: 'infinite'
    }
    let self = localStorage
    switch (this.entity) {
      case 'service_id':
        showService(params).then(function (data) {
          self.removeItem('service_id')
          self.service_id = JSON.stringify(data.data.records)
        }).catch(function (error) {
          notifyError(error)
        })
        break
      case 'environment_id':
        showEnvironment(params).then(function (data) {
          self.removeItem('environment_id')
          self.environment_id = JSON.stringify(data.data.records)
        }).catch(function (error) {
          notifyError(error)
        })
        break
      case 'sup_department_id': case 'department_id':
        showDepartment(params).then(function (data) {
          self.removeItem('department_id')
          self.department_id = JSON.stringify(data.data.records)
        }).catch(function (error) {
          notifyError(error)
        })
        break
      case 'company_id':
        showCompany(params).then(function (data) {
          self.removeItem('company_id')
          self.company_id = JSON.stringify(data.data.records)
        }).catch(function (error) {
          notifyError(error)
        })
        break
      case 'role_id':
        showRole(params).then(function (data) {
          self.removeItem('role_id')
          self.role_id = JSON.stringify(data.data.records)
        }).catch(function (error) {
          notifyError(error)
        })
        break
      case 'adminrole_id':
        showAdminrole(params).then(function (data) {
          self.removeItem('adminrole_id')
          self.adminrole_id = JSON.stringify(data.data.records)
        }).catch(function (error) {
          notifyError(error)
        })
        break
      case 'entity_id':
        showEntity(params).then(function (data) {
          self.removeItem('entity_id')
          self.entity_id = JSON.stringify(data.data.records)
        }).catch(function (error) {
          notifyError(error)
        })
        break
    }
  }

}
</script>
