main
  right: 0px
  left: 220px
  margin-top: -7px
  position: fixed
  overflow: auto
  height: 105%
footer
  position: fixed
  z-index: -1
  position: absolute
  text-align: center
  left: 0px
  right: 0px
  bottom: 0px
  padding-bottom: 5px
  color: #909399
  font-size: small
.el-pagination
  float: right
.right-button
  float: right
  margin-right: 10px
  margin-left: 10px
.left-button
  margin-right: 15px
  margin-left: 15px
.tool-search
  width: 35%
.info-card
  width: 75%
.tool-button
  color: #409EFF
  float: right
.select-input
  width: 75%
.select-left-option
  float: left
  padding-right: 20px
.select-right-option
  float: right
  color: #909399
  font-size: 13px
.filter-table
  width: 30%
  display: inline-flex
  margin-left: 5px
  margin-right: 5px
.select-filter
  margin-left: 5px
  margin-right: 5px
.checkbox-modify
  float: right
.nondecorate
  text-decoration: none
