.filter-env-editor
  width: 100%
  display: inline-flex
  margin-left: 5px
  margin-right: 5px
.button-upload
  width: 98%
  margin-top: 10px
  padding-left: 10px
  height: 220px
.el-upload-dragger
  width: 100%
.el-upload--text
  width: 100%
.el-dialog
  height: auto
  margin-top: 50px !important
.create-env-button
  width: 98%
  margin-left: 10px
  padding-right: 10px
  margin-top: 20px
