$white: #ffffff
.login-container
  text-align: center
  position: fixed
  height: 100%
  width: 100%
  margin-left: -8px
  margin-top: -8px
  .login-form
    position: fixed
    left: 0
    right: 0
    width: 360px
    margin: 120px auto
.title-login
  font-size: 31px
  color: $white
.button-login
  width: 100%
  font-weight: bold
#video-background
  position: fixed
  right: 0
  bottom: 0
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  z-index: -100
footer
  z-index: 1
