.entities-select
  margin-bottom: 3px
.entity-select
  width: 47%
  text-align: left
.role-select
  width: 11.9%
  margin-left: 3px
.entity-text
  width: 47%
.role-text
  width: 11.9%
.title-text
  margin-left: 3px
  margin-bottom: 12px
  text-align: left
.delele-entity
  text-align: center
  width: 3%
.update-button
  margin-top: 10px
  float: right
.add-entity-button
  margin-left: 2px
  margin-top: 10px
.add-entity-dialog-button
  font-size: 20px
  margin-top: -14px
  text-align: right
  width: 3%
.add-entity-dialog-text
  margin-right: 5px
  float: right
