.sidebar
  text-align: center
  display: flex
  top: 0px
  bottom: 0px
  overflow: hidden
  height: 100%
  position: fixed
  left: 0px
  aside
    .el-menu
      height: 100%
    .collapsed
      width: 6%
      .item
      .submenu
        top: 0px
        left: 0px
        z-index: 99999
        height: auto
        display: none
  .menu-expanded
    width: 30%
    max-width: 230px
  .content-container
    flex: 1
    overflow-y: scroll
    padding: 20px
    .breadcrumb-container
      .title
        float: left
        color: #475669
      .breadcrumb-inner
        float: right
    .content-wrapper
      background-color: #fff
      box-sizing: border-box
#sidebar-group
  font-weight: bold
  text-align: left
#sidebar-path
  text-align: left
  padding-left: 5%
.edumall-icon
  display: table
  margin-top: 14px
  margin-bottom: 18px
  margin-left: 9px
.current-user
  display: table
  color: #606266
  margin-top: -13px !important
  margin-bottom: 22px
  margin-left: 20px
