<template lang='pug'>
#app
  el-container
    Sidebar
    Body
</template>

<style lang='sass'>
#app
  font-family: Helvetica,Arial,sans-serif
</style>

<script>
import Sidebar from '@/components/Sidebar.vue'
import Body from '@/components/Body.vue'

export default {
  name: 'App',
  components: {
    Sidebar,
    Body
  }
}
</script>
